{{- if isset .Widget.Params "id" -}}
<h1>Navigation</h1>
<nav aria-label="Navigation">
  <ul>
    {{- $menu := index .Context.Site.Menus .Widget.Params.id -}}
    {{- range $menu.ByWeight -}}
    <li class="{{if $.Context.IsMenuCurrent "main" . }}active{{end}}"><a href="{{ .URL | absLangURL }}" {{ if and ( isset . "Name" ) ( ne .Name "" ) }} title="{{ .Name }}"{{ end }}>{{ .Pre }}{{ .Name }}</a>

      {{ if .HasChildren }}
      <ul class="{{if $.Context.HasMenuCurrent "main" . }}open{{end}}">
        {{ range .Children }}
        <li{{if $.Context.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}">{{ .Name }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{- end -}}
  </ul>
</nav>
{{- end -}}
