<div>
  {{ widgets "sidebar" . }}

    {{ range $key, $value := .Site.Taxonomies }}
      {{ $len := len $value }}
      {{ if (not ( eq $len 0 ) ) }}
      <div class="section taxonomies">
        <header><div class="title"><b>{{ $key | singularize }}</b></div></header>

        <div class="content">
          <ul>
            {{ range first 10 $value.ByCount }}<li><a href="{{$.LanguagePrefix }}/{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    {{ end }}

</div>
